* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


:root {
  --offwhite: #d3cdc6;
  --black: #000000;
  --white: #ffffff;
  --blue: rgb(9, 79, 111);
}

body {
  background-color: var(--black);
  color: white;
}

.index-main {

width: 100%;
height: auto;
background-color: var(--black);
}

.index-part-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.829)),
  url(images/background-6.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: auto;
}


.header {
  position: fixed;
  z-index: 1000;
  color: var(--white);
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background-color: #000000;
  padding: 20px;

}


.nav-bar {
  font-family: 'Tw Cen MT Std', sans-serif;

  width: 100%;
  /* background-color: var(--back-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.heading {
  float: left;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-right: 20px;


}

.links {
  float: right;
}

.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: var(--black);
}

.links li {
  float: left;
}

.active {
  border: 1px solid var(--white);
  border-radius: 5px;


}


.links li a {
  display: block;
  padding: 14px 16px;
  color: var(--white);
  text-decoration: none;
}

#active:hover {
  color: var(--offwhite);
}


.links li a:hover {
  color: var(--offwhite);
}


.login-div {
  padding-top: 20px;
  padding-right: 40px;
}

.login-box {
  
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.login-box a {

  font-family: 'Tw Cen MT Std', sans-serif;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 12px 18px;
}

.login-box a:hover {
  color: var(--offwhite);
}



.cover {
  padding-top: 85px;
}

.cover-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.5)),
    url(images/main-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;


  background-color: var(--back-color);
}

.cover p {
  display: flex;

  align-items: center;
  /* Center horizontally */
  justify-content: center;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  letter-spacing: normal;
  height: 400px;
  text-align: center;
  color: var(--white);

}


.welcome-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
 

}

.welcome-message {
  

  width: 50%;
  height: 500px;

 

  align-items: center;
  color: #e0e0e0;
  overflow: hidden;
}

.message-heading {

  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  letter-spacing: normal;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;

  height: 150px;
  align-items: center;
}

.message-p1 {
  font-family: 'Tw Cen MT Std', sans-serif;

  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0px 50px 0 50px;
  height: 350px;

}


.message-p1 a {

  font-family: 'Tw Cen MT Std', sans-serif;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 14px 16px;
}

.message-p1 a:hover {
  color: var(--offwhite);
}

.cover-offer {
  display: none;
}


#resturant-image {
  height: 500px;
  width: 50%;
  object-fit: cover;
}


.promotions {
  width: 100%;
  height: auto;

}

.title-promotions {
  display: flex;
  justify-content: center;
}

.promotions p {

  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  letter-spacing: normal;
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 5px 10px;
  align-items: center;
}


.cover-promotion {
  padding-top: 85px;
}

.cover-image-promotions {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  animation: slide 10s infinite;

  background-color: var(--back-color);
}



@keyframes slide {
  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(images/banner4.jpg);
  }

  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(images/banner10.jpg);
  }

  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(images/banner6.jpg);
  }

  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(images/banner7.jpg);
  }
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.promotions-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.676)),
    url(images/background-6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  display: flex;
  justify-content: baseline;
  flex-direction: column;
}

.promotions-container-index {

  width: 100%;
  height: 520px;


  display: flex;
  justify-content: baseline;
  flex-direction: column;
}

.promotions-heading {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
}

.promotions-index {
  height: auto;

  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;

}

.promotions {
  height: auto;

  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


.banner-box-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 175px;


  background-color: var(--back-color);
}

.banner-box-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 175px;


  background-color: var(--back-color);
}

.banner-box-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 175px;


  background-color: var(--back-color);
}

.banner-box-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 175px;


  background-color: var(--back-color);
}

.banner-box-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 175px;


  background-color: var(--back-color);
}

.banner-box-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 175px;


  background-color: var(--back-color);
}

.banner-box-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17)),
    url(images/banner10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 175px;


  background-color: var(--back-color);
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.link-box a {

  font-family: 'Tw Cen MT Std', sans-serif;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 12px 12px;
}

.link-box a:hover {
  color: var(--offwhite);
}


.promotions-browse {

  background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.829)),
  url(images/background-6.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: auto;
}










.services-container-index {
  font-family: 'Tw Cen MT Std', sans-serif;
  color: var(--white);


  width: 100%;
  height: auto;



  display: flex;
  justify-content: baseline;
  flex-direction: column;
}

.services-heading {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
}

.services-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;

}

.information-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* background-color: var(--back-color); */
  background-color: rgb(245, 245, 245);
}

.information {}

.info-box {
  width: 200px;
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background-color: #171717;
  text-align: center;
  color: white;
  border: 3px solid black;
  /* background-color: rgb(255, 255, 255); */

  /* border: 1px solid red; */
}

.info-box:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.heading-services {
  font-size: 15px;
  font-weight: bold;
  /* color: var(--back-color); */
  color: var(--offwhite);
  padding-bottom: 8px;
}


.description-services {
  font-weight: 300;
  font-size: 0.8rem;
  /* color: var(--back-color); */
  color: var(--offwhite);
}


#remix {
  font-size: 40px;
  color: var(--offwhite);
  padding-bottom: 10px;
}



.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.link-box a {

  font-family: 'Tw Cen MT Std', sans-serif;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 12px 12px;
}

.link-box a:hover {
  color: var(--offwhite);
}












.cover-menu {
  padding-top: 85px;
}

.cover-image-menu {

  background-image: linear-gradient(rgba(0, 0, 0, 0.546), rgba(0, 0, 0, 0.17)),
    url(images/menu.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;


  background-color: var(--back-color);
}



.cover-menu p {
  display: flex;

  align-items: center;
  /* Center horizontally */
  justify-content: center;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  letter-spacing: normal;
  height: 500px;
  text-align: center;
  color: var(--white);

}

.menu-category-list {
  padding: 20px 30px 20px 30px;
}


.menu-categories {

  font-family: 'Tw Cen MT Std', sans-serif;
  display: flex;
  align-items: center;
  /* Center horizontally */
  justify-content: center;
}

.menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.676)),
    url(images/burger.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 70px;
  min-height: 700px;
}

.menu-categories ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0px;

  background-color: var(--black);
}

.menu-categories li {
  float: left;
}


.menu-categories li a {
  display: block;
  padding: 14px 16px;
  color: var(--white);
  text-decoration: none;
}




.menu-categories li a:hover {
  color: var(--offwhite);
}

.menu-container {



  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--black);


}

.menu-card {

  border: 1px solid var(--white);
  border-radius: 5px;
  width: 50%;
  color: #e0e0e0;
  padding-bottom: 60px;


}

.menu-heading {

  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  letter-spacing: normal;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 2rem;
  height: 100px;
  align-items: center;

}

.menu-list {
  font-family: 'Tw Cen MT Std', sans-serif;


  padding: 0px 50px 50px 50px;
  height: auto;

}


.item {

  text-align: center;

  gap: 2rem;

  margin-top: 1.25rem;

}

.name-price p {
  display: inline-block;
  /* or use 'inline' */
  margin: 0;
  /* Remove default margin */
  padding-right: 10px;
  /* Optional: Add some space between the paragraphs */
  padding: 10px;
}


.cover-location {
  padding-top: 85px;
}

.cover-image-location {

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/restaurant.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;


  background-color: var(--back-color);
}



.cover-location p {
  display: flex;

  align-items: center;
  /* Center horizontally */
  justify-content: center;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  letter-spacing: normal;
  height: 500px;
  text-align: center;
  color: var(--white);

}


.cover-services {
  padding-top: 85px;
}

.cover-image-services {

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/background-6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;


  background-color: var(--back-color);
}



.cover-services p {
  display: flex;

  align-items: center;
  /* Center horizontally */
  justify-content: center;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  letter-spacing: normal;
  height: 500px;
  text-align: center;
  color: var(--white);

}








.cover-functions {
  padding-top: 85px;
}

.cover-image-functions {

  background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.17)),
    url(images/privatedining.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;


  background-color: var(--back-color);
}

.inquire {
  display: flex;
  justify-content: center;
}

.inquire a {
  font-family: 'Tw Cen MT Std', sans-serif;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 14px 16px;
  margin-top: 80px;
}

.inquire a:hover {
  color: var(--offwhite);
}


.cover-functions p {
  display: flex;
  padding-top: 210px;
  align-items: center;
  /* Center horizontally */
  justify-content: center;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 45px;
  letter-spacing: normal;
  height: 300px;
  text-align: center;
  color: var(--white);

}





.footer {
  color: var(--white);

  padding: 30px 20px 30px 20px;
  font-family: 'Tw Cen MT Std', sans-serif;
  letter-spacing: normal;
  line-height: 1.5;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: var(--back-color); */


  z-index: 1000;
}

.contact {
  padding: 10px;
}

.contact p {
  padding-bottom: 10px;
}







.menu-container-home {



  width: 100%;
  height: 500px;



  padding-bottom: 20px;

}

.menu-card-home {



  color: #e0e0e0;

}

.menu-heading-home {

  padding-top: 15px;
  padding-bottom: 25px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  letter-spacing: normal;



  padding-left: 150px;



  width: 88%;


}

.heading-browse {
  display: flex;
  justify-content: space-evenly;


}

.heading-browse p {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;

}

.arrows {


  display: flex;
  justify-content: flex-end;
}

.fa-angle-left {
  margin-right: 5px;
}

.menu-list-home {

  font-family: 'Tw Cen MT Std', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 0px 50px 10px 0px;
  height: auto;
  overflow-x: auto;
  margin-left: 150px;
  margin-right: 150px;

}


.item-home {


  text-align: left;

  transition: transform 0.3s, box-shadow 0.3s;



}

.item-home:hover {
  transform: translateY(-5px);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.item-home p {

  margin-top: 0;


  padding: 3px;
}

.order-item-name-home {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
}

.order-item-price-home {
  font-size: 18px;
}

.price {
  text-decoration:line-through;
  font-size: 16px;

padding-bottom: 0px;

}


.total {
  font-size: 19px;

margin-left: 6px;

}


.prices {
  margin-top: 3px;
  display: flex;

}
.menu-list-home a:link {
  color: var(--white);
}



/* visited link */
.menu-list-home a:visited {
  color: var(--white);
}

/* mouse over link */
.menu-list-home a:hover {
  color: var(--offwhite);
}

/* selected link */
.menu-list-home a:active {
  color: var(--offwhite);
}









#resturant-image-home {
  height: 270px;
  width: 270px;

  object-fit: cover;
}




.newsletter-container-index {
  font-family: 'Tw Cen MT Std', sans-serif;
  color: var(--white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background-color: var(--black);
padding-left: 40px;
padding-top: 30px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-content: center;


}

.newsletter-heading {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
  letter-spacing: normal;
  width: 50%;
display: flex;
justify-content: flex-start;
align-content: center;
flex-direction: column;
padding-left: 15px;

padding: 0px 80px 30px 80px;

}

.heading-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.heading-contact p{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
}

.heading-newsletter {
text-align: center;
width: 100%;
font-size: 28px;
padding-bottom: 40px;

}

.footer-newsletter {
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding-top: 35px;
  
  }
  .footer-newsletter p{
    margin-bottom: 15px;
    
    }

.opening-hours {
  padding: 20px 30px 10px 30px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.description-newsletter {
  font-family: 'Tw Cen MT Std', sans-serif;
  font-size: 20px;
}

.search {

  width: 50%;
  gap: 3rem;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
padding-left: 50px;
}


i.bi-send-fill {
  font-size: 20px;

}

.search {
  position: relative;

}

.divided {
  margin-bottom: 15px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.average-input-div {
  font-family: 'Tw Cen MT Std', sans-serif;
  font-size: 18px;
  border: none;

  padding: 10px 40px 10px 15px;
  /* Adjust padding to make space for the icon */
  width: 185px;
  height: 40px;
  margin-top: 5px;
  outline: none;
  background-color: #ebebeb;
  margin-bottom: 20px;

}

.average-input {
  font-family: 'Tw Cen MT Std', sans-serif;
  font-size: 18px;
  border: none;

  padding: 10px 40px 10px 15px;
  /* Adjust padding to make space for the icon */
  width: 400px;
  height: 40px;
  margin-top: 5px;
  outline: none;
  background-color: #ebebeb;
  margin-bottom: 20px;
}



.average-input-textarea {
  font-family: 'Tw Cen MT Std', sans-serif;
  font-size: 18px;
  border: none;

  padding: 10px 40px 10px 15px;
  /* Adjust padding to make space for the icon */
  width: 400px;
  height: 100px;
margin-top: 5px;
  outline: none;
  background-color: #ebebeb;
}

.search i {
  position: relative;
  top: 50%;
  right:35px;
  /* Adjust the left position as needed */
  transform: translateY(-50%);
  color: #000000;
  /* Adjust the color as needed */
}

.search i:hover {
  color: rgb(115, 115, 113);
}


.addtocart {
  font-size: 22px;
  margin-top: 50px;
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: 'Tw Cen MT Std', sans-serif;
  padding: 10px 40px;
  cursor: pointer;
  width: 450px;
}


.addtocart:hover {
  background-color: #333333;
}

.button {
  margin-bottom: 15px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.submit {
  font-size: 22px;
  margin-top: 40px;
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: 'Tw Cen MT Std', sans-serif;
  padding: 10px 40px;
  cursor: pointer;
  width: 200px;
}


.submit:hover {
  background-color: #333333;
}










.logo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.25rem;
  text-align: center;
  padding: 20px;
  position: relative;


}

.footer a:link {
  color: var(--white);
}



/* visited link */
.footer a:visited {
  color: gray;
}

/* mouse over link */
.footer a:hover {
  color: var(--offwhite);
}

/* selected link */
.footer a:active {
  color: var(--offwhite);
}


/*@media (max-width: 1000px) {


  body {
    overflow-x: hidden;
}

.cover-offer {
  display: flex;
  background-color: var(--main-color);
  align-items: center;
  justify-content: center;
  position: sticky;
  padding: 0rem 0;
  top: 0;
  z-index: 1001;
}

  .hamburger {


    padding: 14px 16px;
    float: right;
    margin: 0;
  }

  .hamburger i.bx-menu {
    font-size: 30px;  
}

  .links {
    display: none;
  }

} /*